/* add a new font */
@font-face
{
    font-family: myNewFont ;
    src: url(Ubuntu-Regular.ttf);
}
/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: myNewFont;
}
body
{
    color: #383838;
    background-color: white;
    font-size: 34px;
    line-height: 1.5;
}
/* layout */
body{
    max-width: 100%;
    background-image: url("foodbankbg.png");
    background-position: center center;
    background-size: cover;
}
	
.img-container
{
	text-align: center;
    margin: 20px 20px;
    padding: 20px 20px;
}
/* info section */
.info>section
{   
    margin:50px;
}

.info>section>h1
{
    padding:20px 20px;
    background-color:  rgb(254, 204, 30);
    color: white;
    font-weight: 1000;
}

.info>section>p
{
    padding:20px;
    margin: auto;
    text-align: left;
    line-height: 2.25;
    font-size: 16px;
}

.links
{
    background-color:rgb(254, 204, 30);
    border-style: solid;
    border-width: 5px;
    border-color: whitesmoke;
    align-items: left;
    font-weight: 1000;
    width: 275px;
}

.links>a:link,a:visited
{
    text-decoration: none;
}
.links>a:hover,a:active
{
    text-decoration: none;
    color: white;
}
.subText
{
    background-color: #a0a8a2;
    margin:30px;
    padding: 30px;
}

/* logo in info */
#logoInInfo
{
    margin-left: 30px;
    float: right;
}
/* header */
header
{
    background-color: rgb(254, 204, 30);
}
.content {
    max-width: 1000px;
    margin: 0 auto;
    background: white;
    padding: 10px;
  }

.navbar ul li
{
    margin: 3px 30px;
}

.navbar ul li .btn-danger:hover
{
    background: greenyellow;
}

.embed-responsive
{
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-top: 56.25%;
}

.responsive-iframe
{
    margin-top: 25px;
    padding-bottom: 5px;
    position: relative;
    width: 400px;
    height: 260px;
    float:right;
}
/* iframe */
.video
{
    margin-left: 30px;
    float: right;
}
.video>span>p
{
    font-weight: 700;
    padding-top: 0;
    color: black;
}

div.form 
{
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    align-items: center;
}

.form h3
{
    color: #db3535;
}

.clear
{
    margin-bottom: 10px;
}

select {
    width: 150px;
    margin: 10px;
}
select:focus {
    min-width: 150px;
    width: auto;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
input[type=submit]:hover {
    background-color: #45a049;
}

/* footer */
footer
{
    background-color: rgb(254, 204, 30);
    color:black;
    font-weight: 900;
    margin: 0;
    padding: 20px;
}
/* localdonation*/
.bank
{   
    margin: 20px 10px;
}

.bank>h3
{
    padding:20px 20px;
    background-color:  rgb(254, 204, 30);
    color: white;
    font-weight: 1000;
}

.bank>.foodbank>p
{
    padding:20px;
    margin: auto;
    text-align: left;
    line-height: 2.25;
    font-size: 16px;
}
.canadahelps
{   
    margin:20px 10px;
}
.canadahelps>h3
{
    padding:20px 20px;
    background-color:  rgb(254, 204, 30);
    color: white;
    font-weight: 1000;
}

.canadahelps>p
{

    padding:20px;
    margin: auto;
    text-align: left;
    line-height: 2.25;
    font-size: 16px;
}
section > .bank >p
{
    padding:20px;
    margin: auto;
    text-align: left;
    line-height: 2.25;
    font-size: 16px;
}
section > .bank >p
{
    padding:20px;
    margin: auto;
    text-align: left;
    line-height: 2.25;
    font-size: 16px;
}
/* About us */
.wwa>section
{   
    margin:20px 10px;
}

.wwa>section>h1
{
    padding:20px 20px;
    background-color:  rgb(254, 204, 30);
    color: white;
    font-weight: 1000;
}

.wwa>section>p
{
    padding:20px 20px;
    margin: auto;
    text-align: left;
    line-height: 2.25;
    font-size: 16px;
}



.row {
  float: left;
  padding: 30px;
  border-radius: 50%;
}


.row::after {
  content: "";
  clear: both;
  display: table;
}



.canadahelps >  img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*Event */
.eventHead
{
    color: rgb(254, 204, 30);
     background-image: url("unnamed.jpg");
     width:900px; 
     height:300px; 
     padding: 50px;
     text-align: left;
     vertical-align: middle;
    font-size: 100px;
    font-weight: bold;
    margin: 50px;
}

.events > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.events>.time{
    text-decoration: underline rgb(254, 0, 0); 
    padding-left: 20px;   
    font-size: 20px;
}
.events
{   
    margin:50px;
}
.events>h3
{
    padding:20px 20px;
    background-color:  rgb(254, 204, 30);
    color: white;
    font-weight: 1000;
}
.events>p
{
    padding:20px;
    margin: auto;
    text-align: left;
    line-height: 2.25;
    font-size: 16px;

}


/* news box - by cuong */
div#news > h2
{
    padding:20px 20px;
    background-color:  rgb(254, 204, 30);
    color: white;
    font-weight: 1000;
    margin: 30px 0;
}

.box{
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
} 

.box > .img-container
{
    width: 100%;
    height: auto;
    margin: 10px;
    align-items: center;
}

.clearFix
{
    clear: both;
    content: "";
    display: block;
}


.notes
{
    font-family: myNewFont;
    margin:50px;
    padding:50px;
    text-align: left;
    background-color: rgb(254, 204, 30);
}

